* {
    font-family: "Nirmala UI";
    font-size: 10px;
    font-weight: bolder;

}

body {
    background: white;


}


form input[type=submit] {
    background: #333;
    cursor: pointer;

}


form input {
    border: solid #333;
    background-color: #333;
    color: white;
    width: 200px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    transition: all 200ms ease-in;
}


form input:hover {
    box-shadow: 5px 10px;
    transform: scale(1.2);
    color: #333;
    background: white;
    transition: all 200ms ease-in-out;

}


form legend {
    padding: 10px;
    text-align: left;
    margin: 20px auto;
    font-family: "Nirmala UI";
    font-size: 30px;
    font-weight: bolder;

}

nav {
    position: fixed;
    top: 0;
    width: 98%;
}

nav li {
    float: left;

}

nav li a:hover {
    background: white;
    color: #333;
    transition: all 200ms ease-in-out;

}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 90px;
    font-size: 20px;
    text-decoration: none;
    transition: all 200ms ease-in-out;
}


nav ul {
    list-style-type: none;
    margin: 10px 10px;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

#rock {
    border: solid #333;
    border-radius: 10px;
    width: 600px;
    margin: 100px auto 100px 100px;
    padding: 20px;
    transition: all 200ms ease-in;
}

#rock:hover {
    box-shadow: 5px 10px;
    transform: scale(1.1);
    transition: all 350ms ease;

}


#rock h1 {
    font-family: "Nirmala UI";
    font-size: 30px;
    font-weight: bolder;

}

#rock p {
    font-size: 15px;
}

#login {
    border: solid #333;
    border-radius: 10px;
    width: 300px;
    margin: 100px 50px 100px auto;
    padding: 10px;

}

#regist {
    border: solid #333;
    border-radius: 10px;
    width: 300px;
    margin: 100px auto;
    padding: 10px;
}



.main_content {
    display: flex;
}


