* {
    font-family: "Nirmala UI";
    font-size: 10px;
    font-weight: bolder;

}

body {
    background: white;

}

#bemutat h1 {

    text-align: left;
    font-family: "Nirmala UI";
    font-size: 30px;
    font-weight: bolder;
}

.menu {
    display: flex;
}


form {
    border: solid #CAD7E4;
    width: 300px;
    margin: 50px 100px;
    padding: 20px;

}

form input[type=submit] {
    background: #CAD7E4;

}


form input {
    border: solid #CAD7E4;
    width: 200px;
    margin: 10px auto;
    padding: 5px;
    border-radius: 10px;
    transition: all 200ms ease-in;
}


form input:hover {
    transform: scale(1.2);
    transition: all 200ms ease-in-out;
    background-color: #CAD7E4;
}


form legend {
    padding: 10px;
    text-align: left;
    margin: 20px auto;
    font-family: "Nirmala UI";
    font-size: 30px;
    font-weight: bolder;

}
